@font-face {
    font-family: "BR";
    src: url("../fonts/body_regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "HTR";
    src: url("../fonts/HitmarkerText-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
font-family: "T9";
src: url("../fonts/coldwar.ttf") format("truetype");
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: "T10";
src: url("../fonts/bosix.ttf") format("truetype");
font-weight: normal;
font-style: normal;
font-display: swap;
}
body {
    font-family: "HTR", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}